@CHARSET "BIG5";

html, body{
      height:100%;
}

.max_height {
    height: inherit;
	margin:0px;
	padding:0px; 
}
.odd_columm{
	background-color: #FEFFAF
}
.even_columm{
	background-color: #C7FF91
}
.div_valign_middle{
	position:absolute;
	top: 50%;
	height:50%
	margin-top:-25% 
} 
h1.title{
	/* shadow effect*/
	text-shadow: 5px 5px 5px #0000FF;
}

/******************************* Accordion area ********************************/
.accordion h4{
	/*set menu title style*/
	background-color: #FFBB73;
	border-bottom-color: #DC7100;
	border-right-color: #DC7100;
	border-left-color: #FFD8AF;
	border-top-color: #FFD8AF;
	border-style: solid;
	border-width: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.bg-info{
	background-color:#3d658c;
}
a{
	color:#8fb6de;
}	
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	background-color:#c2daf2;
}
.tabContent{
	color: black;
}
.info{
	color: black;
}
.accordion h4:HOVER{
	/*set menu title style*/
	background-color: #FA8000;
	border-bottom-color: #FFD8AF;
	border-right-color: #FFD8AF;
	border-left-color: #DC7100;
	border-top-color: #DC7100;
	border-style: solid;
	border-width: 5px;
	margin-bottom: 0px;
}

.accordion div.content{
	/*set items animation */
	/* transition:height 2s;
	-moz-transition:height 2s;  Firefox 4
	-webkit-transition:height 2s;  Safari and Chrome
	-o-transition:height 2s;  Opera */
	
	margin: 0px;
	/*min-height: 10px;*/ 
	background-color: #404040;
	overflow-y: auto;
}
.accordion div.content.active{
	visibility: visible;
}
.accordion p{
	margin: 0px;
	/*chrome*/
    word-wrap: break-word;
	/*IE*/
	-ms-word-break: break-all;
}

/******************************* dataTable area ********************************/
.dataTable{
	background-color: #D6FFAF;
	border: 3px;
	border-color: white;
	width: 100%;
}
.dataTable tr:nth-child(odd) {
	background-color: #FEFFAF
}
.dataTable tr:nth-child(even) {
	background-color: #C7FF91
}
.dataTable tr:HOVER {
	background-color: #A1C7EF
}

/******************************* else info ********************************/
.elseInfoList{
	margin: 0px;
	padding: 0px;
}
.form-group{
	width:100%;
}
.tab{
	padding: 0px;margin: 0px;
}


