@CHARSET "BIG5";

html, body{
      height:100%;
}

.max_height {
    height: inherit;
	margin:0px;
	padding:0px; 
}
.odd_columm{
	background-color: #FEFFAF
}
.even_columm{
	background-color: #C7FF91
}
.div_valign_middle{
	position:absolute;
	top: 50%;
	height:50%
	margin-top:-25% 
}
h1.title{
	/* shadow effect*/
	text-shadow: 5px 5px 5px #0000FF;
}

/* Accordion area */
.accordion h4{
	/*set menu title style*/
	background-color: #FFBB73;
	border-bottom-color: #DC7100;
	border-right-color: #DC7100;
	border-left-color: #FFD8AF;
	border-top-color: #FFD8AF;
	border-style: solid;
	border-width: 5px;
	margin-bottom: 0px;
}

.accordion h4:HOVER{
	/*set menu title style*/
	background-color: #FA8000;
	border-bottom-color: #FFD8AF;
	border-right-color: #FFD8AF;
	border-left-color: #DC7100;
	border-top-color: #DC7100;
	border-style: solid;
	border-width: 5px;
	margin-bottom: 0px;
}

.accordion div.content{
	/*set items animation */
	/* transition:height 2s;
	-moz-transition:height 2s;  Firefox 4
	-webkit-transition:height 2s;  Safari and Chrome
	-o-transition:height 2s;  Opera */
	
	margin: 0px;
	min-height: 10px; 
	background-color: #FEFFAF;
	overflow-y: auto;
}
.accordion div.content.active{
	visibility: visible;
}
.accordion p{
	margin: 0px;
	/*chrome*/
    word-wrap: break-word;
	/*IE*/
	-ms-word-break: break-all;
}


/*
.accordion>ul li{
	list-style-type:none;
}

 .accordion>h3{
    text-align:center;
    
	background-color:black;
	font-size:18px;
	color:white;
	border-color:white;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	height: 25px;
	width:100%;
	margin: 0px;
	padding:0px; 
}
.accordion>h1{
	background-color:black;
	border-color:white;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	width:100%;
	margin: 0px;
	padding:0px; 
	height: 10px;
}
.accordion>div{
	width:95%;
	height:200px;
	transition:height 2s;
	-moz-transition:height 2s; /* Firefox 4
	-webkit-transition:height 2s; /* Safari and Chrome
	-o-transition:height 2s; /* Opera
	display:none;
	overflow: auto;
	margin: 0px;
	padding:0px;
	background-color: white; 
}
.accordion-content-hover{
	height:200px;
} */