<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>S2TProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Struts2 設定 -->
   <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
        
        <init-param>
        	<!-- 取消默認設置，改為手動配置 -->
        	<!-- 只要出現congif 參數 ，所有配置都必須設定-->
        	<!-- 路徑為classes的相對位置 -->
	        <param-name>config</param-name>  
	        <param-value>struts-default.xml,struts-plugin.xml,resource/struts.xml</param-value> 
	    </init-param> 
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
    <!-- Tiles 設定   -->
    <!-- 不設置context的話 默認為 /WEB-INF/下的 tile*.xml檔-->
    <!--
	<context-param>
	    <param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
    	<param-value>/WEB-INF/tiles.xml</param-value>
	</context-param>
	<context-param id="struts_tiles">
		<param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
		<param-value>/WEB-INF/classes/file1.xml,/WEB-INF/classes/file2.xml</param-value>
	</context-param> -->
    <listener>
    	<listener-class>org.apache.tiles.extras.complete.CompleteAutoloadTilesListener</listener-class>
	</listener>
	
	<!-- Spring 設定 -->
	<!-- 	其中xxxxxxxxxx.xml是Spring設定檔的位置及名稱
			若有多個時用逗點分開
			如果沒有設定Spring的設定檔的話，那預設會抓applicationContext.xml -->
	<!-- classpath 為 scr位置 -->
	<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:resource/action-context.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	
	
</web-app>